# Entornos
venv

# Variables de entorno
kaggle_keys.json

# Datos sucios irrelevantes
data/raw/~$Restaurant_Data.xlsx
data/raw/restaurant-cost-and-sales-dataset.zip

# Python
__pycache__/
**/__pycache__/